@{
    ViewData["Title"] = "Secreto";
}
<div class="text-center">
    <h1 class="display-4">Esta es una pagina ultra secreta, no cualquiera accede</h1>
    <h2>Codigo lanzamiento misil nuclear : 998988796786746</h2>
</div>
